[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "themes"]
	path = themes
	url = https://github.com/daniruiz/flat-remix-gtk
[submodule "icons"]
	path = icons
	url = https://github.com/daniruiz/flat-remix
